.reviews-info {
    /* width: 70%; */
    display: flex;
    border: 2px solid blue;
    border-radius: 20px;
    padding: 10px;
    margin: 5px;
}

.reviews-info img {
    width: 100px;
    border-radius: 50%;
}